@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #000000;
  font-family: "Permanent Marker", sans-serif;
}
.grid-bg {
  background-image: radial-gradient(#90909024 1px, transparent 1px);
  background-size: 30px 30px;
}
@media (min-width: 768px) {
  .grid-bg {
    background-size: 40px 40px;
   }
}
.bg-divider {
  background-color: white;
}
.w-divider {
  width: 1px;
}